<section class="product-table-wrapper">
  <table class="product-table" role="grid" aria-describedby="Produktliste">
    <thead>
      <tr>
        <th>Produkt</th>
        <th>Beschreibung</th>
        <th>Bestand</th>
        <th>Preis</th>
        <th>Hinzugefügt</th>
        <th>Aktionen</th>
      </tr>
    </thead>
    <tbody>
      @for (item of list(); track item.id; let index = $index) {
        <tr [routerLink]="['detail', item.id]" role="link">
          <td>{{ item.name }}</td>
          <td>{{ item.specs }}</td>
          <td>
            <span class="badge ok">{{ item.stock }}</span>
          </td>
          <td class="price">{{ item.price | currency: 'EUR' }}</td>
          <!-- <td>{{ item.addedAt | date: 'dd.MM.yyyy' }}</td> -->
          <td>
            <a
              [routerLink]="['/detail', item.name]"
              class="btn--view"
              aria-label="Details anzeigen"
              (click)="$event.stopPropagation()"
            ></a>
            <button
              type="button"
              class="btn--edit"
              aria-label="Produkt bearbeiten"
              (click)="onEditProduct($event, item.name)"
            ></button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</section>
