<article class="product-detail">
    <header class="product-detail__header">
        <h1>Computermaus HP 100</h1>
        <div>
            <a class="btn--edit" aria-label="Details editieren"></a>
            <button class="btn--delete" aria-label="Details löschen"></button>
        </div>
    </header>
    <section aria-labelledby="description">
        <h2 id="description">Beschreibung</h2>
        <ul>
            <li>Kabelgebunden optische USB-Maus mit 1600 DPI, 3 Tasten.</li>
            <li>Ergonomisches Design, Plug &amp; Play, für PC, Laptop, Windows,
 macOS – Schwarz.</li>
            <li>Stil: Rechtshänder / Linkshänder.</li>
        </ul>
    </section>
    <section aria-labelledby="specs">
        <h2 id="specs">Spezifikationen</h2>
        <p>
            optisch, USB-Anschluss, schwarz
        </p>
    </section>
    <section>
        <dl>
            <dt>Lagerbestand:</dt>
            <dd>
                <data value="104">104 Stück</data>
            </dd>
            <dt>Preis pro Stück (€):</dt>
            <dd>
                <data value="18.00">18,00</data>
            </dd>
        </dl>
    </section>
</article>