<article class="product-detail">
  <header class="product-detail__header">
    <h1>{{ detail.name }}</h1>
    <div>
      <a class="btn--edit" aria-label="Details editieren"></a>
      <button (click)="deleteDetail()" class="btn--delete" aria-label="Details löschen"></button>
    </div>
  </header>
  <section aria-labelledby="description">
    <h2 id="description">Beschreibung</h2>
    <ul>
      <li>{{ detail.description }}</li>
    </ul>
  </section>
  <section aria-labelledby="specs">
    <h2 id="specs">Spezifikationen</h2>
    <p>
      {{ detail.specs }}
    </p>
  </section>
  <section>
    <dl>
      <dt>Lagerbestand:</dt>
      <dd>
        <data value="{{ detail.stock }}">{{ detail.stock }} Stück</data>
      </dd>
      <dt>Preis pro Stück:</dt>
      <dd>
        <data [value]="detail.price">{{ detail.price | currency: 'EUR' }}</data>
      </dd>
      <dt>Hinzugefügt:</dt>
      <dd>{{ detail.addedAt | date: 'dd.MM.yyyy' }}</dd>
    </dl>
  </section>
</article>
